/*.example-form {
  width: 300px;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.mat-form-field {
  margin-bottom: 20px;
}

.mat-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  margin-top: 20px;
  background-color: #1976d2; 
  color: white; 
}

.button:hover {
  background-color: #1565c0; 
}

p {
  text-align: center;
  margin-top: 20px;
}
*/

/* Style de base pour le conteneur du formulaire */
.container1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0, 0,0,0.1)
}

/* Style pour les titres */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #343a40;
  text-align: center;
}

/* Style pour les groupes de formulaire */
.form-group {
  margin-bottom: 15px;
}

/* Style pour les labels */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #495057;
}

/* Style pour les champs de saisie */
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #495057;
}
.p{
  margin-left: 500px;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #495057;
}
/* Style pour les alertes d'erreur */
.alert {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Style pour le bouton de soumission */
.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-primary:disabled {
  background-color: #7b6161;
  border-color: #d6d6d6;
  cursor: not-allowed;
}

.btn-primary:hover {
  background-color: #3f26ab;
  border-color: #004085;
}

.password{
  margin-left: 40%;
  font-weight: bold;
  text-decoration: none;
  color: #495057;
}
.passwordreset{
  margin-left: 10px;
}